extends layouts/main

block content
    .form-container
        form(action=`/users${ routes.changePassword }`, method="pose")
            input(type='password', placeholder="Current Password", name="oldPasswd")
            input(type='password', placeholder="New Password", name="newPasswd")
            input(type='password', placeholder="Verify New Password", name="newPasswd1")